<div class="panel">

    <input type="text" placeholder="Search..." id="txt_buscar">
    <button id="btn_buscar" value="BUSCAR"><i class="fa fa-search">BUSCAR</i></button>


    <div class="panel-heding">Listado</div>
    <div class="panel-body">
        <div class="row">
            <div class="">
                <table id="tabla" class="table">
                    <thead>
                        <tr>
                        <th>Portada</th>                        
                        <th>Titulo</th>
                        <th>Genero</th>
                        <th>Anio</th>
                        <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
<script>
    $('#btn_buscar').click(function() {
        
        var cadena = "http://www.omdbapi.com/?s=" + $('#txt_buscar').val() + "&apikey=e76f6e93";

        $.ajax({
            type: "GET",
            url: cadena,
            success: function(data) {
                console.log(data.Search);

                //alert(data.Title);
                //alert("LOS DATOS HAN SIDO INGRESADOS CON EXITO");
                var aux = data.Search;
                var nuevaFila="";
                $.each(aux, function(index, value) {
                    
                    console.log(value);
                     nuevaFila += "<tr>";
                    // añadimos las columnas
                    nuevaFila += "<td><img width='75' class='img-thumbnail' src='" + value.Poster + "'></td>";
                    //nuevaFila += "<td>" + value.Actors + "</td>";
                    nuevaFila += "<td>" + value.Title + "</td>";
                    nuevaFila += "<td>" + value.Type + "</td>";
                    nuevaFila += "<td>" + value.Year + "</td>";
                    nuevaFila += "<td><a href='/admin/pelicula/registro'>Registro</a></td>";
                    nuevaFila += "</tr>";
                    //añadimos la nueva fila a la tabla
                    $("#tabla tbody").html(nuevaFila);
                });

                




            }
        });


    });

</script>