<div class="panel">   
    <script>
        function cargarPeliculaWS() {
            var cadena = "http://www.omdbapi.com/?s=" + $('#txt_buscar').val() + "&apikey=e76f6e93";
            $.ajax({
                type: "GET",
                url: cadena,
                success: function (data) {
                    console.log(data.Search);

                    //alert(data.Title);
                    //alert("LOS DATOS HAN SIDO INGRESADOS CON EXITO");
                    var aux = data.Search;
                    var nuevaFila = "";
                    $.each(aux, function (index, value) {

                        console.log(value);
                        nuevaFila += "<tr>";
                        // añadimos las columnas
                        nuevaFila += "<td><img width='75' class='img-thumbnail' src='" + value.Poster + "'></td>";
                        //nuevaFila += "<td>" + value.Actors + "</td>";
                        nuevaFila += "<td>" + value.Title + "</td>";
                        nuevaFila += "<td>" + value.Type + "</td>";
                        nuevaFila += "<td>" + value.Year + "</td>";
                        nuevaFila += "</tr>";
                        //añadimos la nueva fila a la tabla
                        $("#tabla tbody").html(nuevaFila);
                    });
                }
            });
        }
    </script>
    <form role="form" action="/admin/pelicula/guardar" method="POST">
        

        <div class="form-group">
            <label for="txt_titulo">Titulo</label>
            <input type="text" class="form-control" id="txt_titulo" name="txt_titulo"
                   placeholder="Introduce tu titulo">
        </div>        
        <div class="form-group">
            <label for="txt_actor">Actor(es) </label>
            <input type="text" class="form-control" id="txt_actor" name="txt_actor"
                   placeholder="Introduce tu actor(s)">
        </div>
        <div class="form-group">
            <label for="txt_resumen">Resumen</label>
            <input type="text" class="form-control" id="txt_resumen" name="txt_resumen"
                   placeholder="Introduce tu resumen">
        </div>
        <div class="form-group">
            <label for="txt_genero">Genero</label>
            <input type="text" class="form-control" id="txt_genero" name="txt_genero" 
                   placeholder="Introduce el genero">
        </div>
        <div class="form-group">
            <label for="txt_anio">Anio</label>
            <input type="text" class="form-control" id="txt_anio" name="txt_anio" 
                   placeholder="Introduce el anio">
        </div>
        <div class="form-group">
            <label for="txt_director">Director</label>
            <input type="text" class="form-control" id="txt_director" name="txt_director" 
                   placeholder="Introduce el director">
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar"/>
        </div>
    </form>
</div>
