
<header class="site-header">
    <div class="container">
        <a href="index.html" id="branding">
            <img src="images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">Company Name</h1>
                <small class="site-description">Tagline goes here</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                
                <li class="menu-item current-menu-item"><a href="index.html">Principal</a></li>
                <% if (login == false) { %>
                <li class="menu-item"><a href="/registro">Registrarse</a></li>
                <li class="menu-item"><a href="/inicio">Iniciar sesion</a></li>
                <li class="menu-item"><a href="joinus.html">Lista de peliculas</a></li>
                <% } else if (rol == 'administrador'){ %>                
                <li class="menu-item"><a href="/admin/listado/ws">Administrar peliculas</a></li>
                <li class="menu-item"><a href="/cerrar">Cerrar sesion</a></li>
                <% } else { %>                
                <li class="menu-item"><a href="/cerrar">Cerrar sesion</a></li>
                <% } %>
            </ul> <!-- .menu -->

            <form action="#" class="search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>