<script src="/javascripts/jquery.validate.min.js"></script>
<form class="contact-form" id="validation-form" method="POST" action="/login">
    <input type="text" class="email" name="txt_correo" id="txt_correo" placeholder="ingrese su correo"/>
    <input type="password" class="name" name="txt_clave" id="txt_clave" placeholder="ingrese su clave"/>    
    <input type="submit" value="Inicio de sesion ">

</form>
<script>
    jQuery(function ($) {

        $('#validation-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {

                txt_correo: {
                    required: true                    
                },
                txt_clave: {
                    required: true
                }
            },

            /*messages: {
             email: {
             required: "Please provide a valid email.",
             email: "Please provide a valid email."
             },
             password: {
             required: "Please specify a password.",
             minlength: "Please specify a secure password."
             },
             state: "Please choose state",
             subscription: "Please choose at least one option",
             gender: "Please choose gender",
             agree: "Please accept our policy"
             },*/

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();


            },

            errorPlacement: function (error, element) {

                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1)
                        controls.append(error);
                    else
                        error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                } else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                } else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                } else {
                    error.insertAfter(element.parent());
                }
            },

            submitHandler: function (form) {

                form.submit();
            },
            invalidHandler: function (form) {
            }
        });
    });
</script>