<script src="/javascripts/jquery.validate.min.js"></script>
<form class="contact-form" id="validation-form" method="POST" action="/registro/save">
    <div class="form-group">
        <label class="control-label" for="apellidos"></label>
        <input class="form-control" name="apellidos" id="apellidos" type="text" placeholder="Ingrese apellidos"/>        
    </div>
    <div class="form-group">
        <label class="control-label" for="apellidos"></label>
        <input type="text" id="nombres" name="nombres" class="name" placeholder="Ingrese su nombre"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="correo"></label>
        <input type="email" id="correo" name="correo" class="email" placeholder="Ingrese su correo"/>    
    </div>
    <div class="form-group">
        <label class="control-label" for="clave"></label>
        <input type="text" id="clave" name="clave" class="text" placeholder="Ingrese su clave"/>    
    </div>
    <input type="submit" value="Registrarse"/>
</form>
<script>
    jQuery(function ($) {

        $('#validation-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {

                correo: {
                    required: true
                },
                apellidos: {
                    required: true
                },
                nombres: {
                    required: true
                },
                clave: {
                    required: true
                }
            },

            /*messages: {
             email: {
             required: "Please provide a valid email.",
             email: "Please provide a valid email."
             },
             password: {
             required: "Please specify a password.",
             minlength: "Please specify a secure password."
             },
             state: "Please choose state",
             subscription: "Please choose at least one option",
             gender: "Please choose gender",
             agree: "Please accept our policy"
             },*/

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();


            },

            errorPlacement: function (error, element) {

                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1)
                        controls.append(error);
                    else
                        error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                } else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                } else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                } else {
                    error.insertAfter(element.parent());
                }
            },

            submitHandler: function (form) {

                form.submit();
            },
            invalidHandler: function (form) {
            }
        });
    });
</script>